@use "../abstracts" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  margin: 0;
}

figcaption {
  display: block;
  margin-top: 4px;
  color: #767676;
  font-style: italic;
  font-size: to-rem(12px);
}

:focus {
  outline: none;
}

:focus-visible {
  outline: var(--focus-width, 2px) var(--focus-style, solid)
    var(--focus-color, currentColor);
  outline-offset: var(--focus-offset, 0.15lh);
}

/** 
Firefox is the only browser that doesn't outline the whole element unless you make it display: inline-block. 
That in itself causes multiple flow issues so we can detect it, using its own vendor prefix and reduce focus offset
*/
@supports (-moz-appearance: none) {
  :root {
    --focus-offset: 0.08em;
  }
}

body.error404 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .footer {
    margin-top: auto;
  }
}
