@use "../abstracts" as *;

.breadcrumb {
  --_spacing-sm: 6px;
  --_justify: start;
  max-width: var(--container);
  padding-inline: var(--container-padding);
  padding-block: 24px 32px;
  margin-inline: auto;
  &__home {
    margin-left: var(--_spacing-sm);
  }
  &__link,
  &__home {
    color: var(--wp--preset--color--accent);
  }
  &__list {
    margin-block: 0;
    margin-left: var(--_spacing-sm);

    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: var(--_justify);

    list-style: none;
    padding: 0;
    gap: var(--_spacing-sm);

    > *:not(:first-child) {
      grid-column: 2 / 3;
    }
  }

  &__li {
    display: flex;
    gap: var(--_spacing-sm);
  }

  &__li:not(:first-child)::before {
    content: ">";
  }

  @include mq(md) {
    --_justify: end;

    &__list {
      grid-template-columns: auto;
      grid-auto-flow: column;

      > *:not(:first-child) {
        grid-column: auto;
      }
    }
  }
}
