@use "../abstracts" as *;

.category-badge {
  position: relative;

  &::before {
    content: "";
    background: var(--category-line-color);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
  }

  &__title {
    display: inline-block;
    padding-block: 6px;
    padding-inline: 25px;
    margin-block: 0;
    background-image: var(--category-tag-color);
    color: var(--wp--preset--color--white);
    font-weight: 400;
    font-size: var(--wp--preset--font-size--h-2);
    text-transform: uppercase;
    line-height: 1.1;
  }
}
