.header {
  color: var(--wp--preset--color--white);
  text-align: center;
  padding-block: var(--wp--preset--spacing--xsm);
  position: relative;
  isolation: isolate;



  &__container {
    max-width: var(--container);
    padding-inline: var(--container-padding);
    width: 100%;
    margin-inline: auto;
  }

  &__heading {
    font-size: var(--wp--preset--font-size--h-1);
    color: var(--wp--preset--gradient--whtie);

    font-weight: 400;
  }

  &--default {
    background-image: var(--wp--preset--gradient--primary);
  }

  &--winter {
    .header__video {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }

}
