@use "../abstracts" as *;
.spinner {
  width: 32px;
  height: 32px;
  border: 5px solid var(--wp--preset--color--white);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  animation: rotation 1s linear infinite paused;
  position: absolute;
  margin: auto;
  inset: 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
