@use "../abstracts" as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100vw;
  height: 100vh;
  background-color: var(--wp--preset--color--black);

  &.fade {
    transition: opacity var(--fade-duration, 200ms) linear;
    opacity: 0;
  }

  &.show {
    opacity: 0.5;
  }
}
