.mt-xsm {
  margin-top: var(--wp--preset--spacing--xsm);
}

.mt-md {
  margin-top: var(--wp--preset--spacing--md);
}

.mx-auto {
  margin-inline: auto;
}

.ms-auto {
  margin-left: auto;
}

.mt-9 {
  margin-top: 36px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mt-2 {
  margin-top: 8px;
}