.wrapper {
  max-width: 1550px;
  padding-inline: var(--container-padding);
  position: fixed;
  bottom: 100px;
  width: 100%;
  margin-inline: auto;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: end;
  align-items: start;
}
