@use "../abstracts" as *;

.grid-loop-2 {
  column-gap: fluid(12, 48, 320, 768, px);
  row-gap: 32px;

  @include mq(xsm) {
    grid-template-columns: repeat(2, minmax(0, 300px));
    justify-content: center;
  }

  @include mq(lg) {
    justify-content: space-between;
    column-gap: 16px;
  }
}

.grid-loop-4 {
  justify-content: space-between;
  row-gap: fluid(24, 60, sm, xxl, px);
  grid-template-columns: minmax(0, 1fr);
  align-items: start;
  @include mq(xsm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 16px;
  }
  @include mq(md) {
    grid-template-columns: repeat(auto-fill, minmax(0, 300px));
    column-gap: fluid(12, 60, 1200, 1400, px);
  }
}
